body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  text-align: center;
  background: #2C3341;
  width: 75%;
  height: 75%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 50px; right: 0;
}
h1 {
  font-family: 'Archivo Black', sans-serif;  font-size: 30pt;
  font-weight: bold;
}
h3 {
  font-family: 'Archivo Black', sans-serif;  font-size: 22pt;
  margin-bottom: 20px;
  text-align: left;
}
li {
  margin: 7px;
  text-align: left;
}
form {
  margin-top: 15px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
#choose {
  width: 70%;
  margin: auto;
}
.container {
  background: #fff;
  padding: 40px;
  max-width: 600px;
  position: absolute;
  top: 40px; left: 0; right: 0;
  margin-bottom: 40px;
}
footer a, footer a:hover {
  color: #BAE5F0;
}
