{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/main.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
{{ page.county }} Statistics
{% endblock %}

{% block content %}

<div class="container">

  <p>

  <h1>{{ page.county }}</h1><br>

		<h3>Youth Smoking Rates</h3>
  <ul>
    <li> <b>Youth who have ever used any kind of tobacco product (cigarettes, cigars, smokeless tobacco, hookah, or e-vapes):</b> {{ page.tobacco }}</li>
    <li> <b>Youth who have ever used cigarettes:</b> {{page.cigarettes}}</li>
    <li> <b>Youth who have ever used cigars:</b> {{page.cigars}}</li>
    <li> <b>Youth who have ever used smokeless tobacco:</b> {{page.smokeless}}</li>
    <li> <b>Youth who have ever used hookah:</b> {{page.hookah}}</li>
    <li><b>Youth who have ever used e-vapes:</b> {{page.evape}}</li>
    <li> <b>Youth who have had tobacco eduction in the past year:</b> {{page.education}}</li>
	</ul><br>
	<h3>Tobacco Availability Rates</h3>
	<ul>
    <li> <b>Retailers who sell tobacco in {{page.county}}:</b> {{page.retailers}}</li>
    <li> <b>Population:</b> {{page.population}}</li>
    <li> <b>Retailer Density (Retailers / 1k of  population):</b> {{page.density}}</li>
    <li> <b>County Density Rank (#1 is the county with the highest retailer density, #67 is the lowest):</b> #{{page.rank}}</li></ul>

		<br>

  <p>Youth smoking statistics come from all middle schoolers and high schoolers polled in {{page.county}} by the Florida Department of Health in 2018. Poll answers can be found <a href="http://www.flhealthcharts.com/charts/YouthTobacco.aspx">here</a>. Retailer and population data can be found <a href="https://mapping.countertools.org/florida/">here</a>.</p><br>
  <p><a href="{{ url_for('index') }}">Return to the list</a> to select a different county.</p>


</div>
{% endblock %}
